section {
    width: 60%;
    
    border-radius: 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

section p {
    background-color: blanchedalmond;
    border-radius: 10px;
}

section h3 {
    background-color: darksalmon;
    border-radius: 10px;
}

section img {
    border-radius: 50%;
}

button {
    background-color:rgb(137, 150, 158);
    border-radius: 5px;
}

button a {
    color: rgb(27, 26, 26);
}