body {
    background-color: rgb(203, 210, 212);
    border-radius: 20px;
}

h2 {
    background-color:burlywood;
    text-align: center;
    color: rgb(70, 68, 66);
    border-radius: 20px;
}

ul {
    list-style: unchecked;
}