h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.icon-badge {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-container {
  margin-left: 2em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  margin-bottom: 2em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.back-button-container {
  display: flex;
  justify-content: flex-end;
}

.back-button {
  margin-right: 2em;
  margin-bottom: 2em;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0671a1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.back-button:hover {
  background-color: #2e9fd3;
}

.back-button:active {
  background-color: #76bbdb;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
