
<div class="container">
    <div class="card">

        <img src="{{user.picture.large}}" alt="Avatar" style="width: 100%">
        <div class="icon-container">
            <div class="icon-badge">
                <h1> {{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</h1>
                <img *ngIf="user.dob.age < 40" src="../../assets/icon-user/rookie.svg" alt="Avatar" style="width: 20%">
                <img *ngIf="user.dob.age <= 60 && user.dob.age >= 40" src="../../assets/icon-user/advance.svg"
                    alt="Avatar" style="width: 20%">
                <img *ngIf="user.dob.age > 60" src="../../assets/icon-user/expert.svg" alt="Avatar" style="width: 20%">
                <!-- <img src="../../assets/icon-user/{{getImageByAge(user.dob.age)}}" alt="Avatar" style="width: 30%"> -->
            </div>
            <div class="info-container">
                <h4>{{"Genre / age: "}}</h4>
                <p>{{user.gender}} {{user.dob.age}} {{"ans"}}</p>
                <h4>{{"Adresse postale : "}}</h4>
                <p>{{user.location.street.number}} {{user.location.street.name}} </p>
                <p>{{user.location.city}}</p>
                <p>{{user.location.state}} {{user.location.postcode}}</p>
                <h4>{{"Adresse mail : "}}</h4>
                <p>{{user.email}}</p>
                <h4>{{"Téléphone: "}}</h4>
                <p>{{user.phone}}</p>
            </div>
        </div>
    </div>
</div>