h1 {
    text-align: center;
  }

.container {
    display: flex;
    justify-content: center;
  }

.icon-badge{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-container{
margin-left: 2em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 400px;
    margin-bottom: 2em;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


  
  