body {
    padding: 10px;
}

section {
    width: 60%;
    background-color: blanchedalmond;
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style: unchecked;
}

section article img{
    border-radius: 50%;
    padding: 10px;
}

section aside {
    float: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}