<body>
    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Nos développeurs:</h1>
          </div>
        </div>
      </div>
    <section *ngFor = "let user of userdata" [routerLink]="['/user', user.login.username]">
        <article>
            <img src="{{user.picture.thumbnail}}" alt="portrait thumbnail"/>
        </article>
        <aside>
            <h2>{{user.name.first}} {{user.name.last}}</h2>
            <p>{{user.email}}</p>
        </aside>
        <div class="ageicon">
            <img src="../../assets/Icon_User/{{getImageByAge(user.dob.age)}}" alt="age icon" style="width: 60px">
        </div>
    </section>
</body>